<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985817775450-ciqbpa6t3j01hdn8dhafbaa768j1d43m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985817775450-ciqbpa6t3j01hdn8dhafbaa768j1d43m</string>
	<key>API_KEY</key>
	<string>AIzaSyCF7mzx1VgyUuua8Tf94LNXnRV0B8V5i2g</string>
	<key>GCM_SENDER_ID</key>
	<string>985817775450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.startup</string>
	<key>PROJECT_ID</key>
	<string>startupanalysis-67d42</string>
	<key>STORAGE_BUCKET</key>
	<string>startupanalysis-67d42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985817775450:ios:5c5fe8f512d12280594763</string>
</dict>
</plist>